@import "tailwindcss";
@import "@nuxt/ui";

/* https://tailwindcss.com/docs/theme */
@theme static {
  --color-primary: var(--color-gray-900);
  --color-secondary: var(--color-blue-500);
  --color-highlighted: var(--color-purple-500);
  --color-muted: var(--color-gray-400);
  --font-serif: "Bodoni MT";
}

:root,
.light,
.dark {
  --ui-radius: 0rem;
  --ui-text-highlighted: var(--color-highlighted);
  --ui-text-muted: var(--color-muted);
}
/* 
:root {
  --ui-header-height: calc(var(--spacing) * 12);
} */

/* =============================
   CUSTOM SCROLLBAR
   ============================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 2rem; /* ⚠️ N'a pas d'effet sur une scrollbar verticale */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Masquer les flèches (boutons haut/bas) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}